<%- include('./partials/header') %>
<div class="ui container main text segment">
    <div class="ui huge header">Edit <%= blog.title %></div>
    <form class="ui form" action="<%= `/blogs/${blog._id}?_method=PUT` %>" method="post">
        <div class="field">
            <label for="">Title</label>
            <input type="text" name="blog[title]" id="" value="<%= blog.title %>" required>
        </div>
        <div class="field">
            <label for="">Image</label>
            <input type="text" name="blog[image]" id="" value="<%= blog.image %>" required>
        </div>
        <div class="field">
            <label for="">Blog Post</label>
            <textarea name="blog[body]" id="" required><%- blog.body %></textarea>
        </div>
        <button class="ui violet basic button" type="submit">Submit</button>
    </form>
</div>
<%- include('./partials/footer') %>